@import url("./asset/fonts/effra_std_bd-webfont.woff");
@import url("./asset/fonts/Effra_Std_Rg.ttf");
@import url("./asset/fonts/");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-blue-blackground: #3B4157;
    --color-orange: #FF594E;
    --color-blue-dark-background: #484B57;
    --color-text: #F5F5F5;
}



* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-family: 'Roboto', sans-serif;
}

.container {
    min-height: 100vh;
}

.section_padding {
    padding: 50px 0px;
}

/* HEADER*/
.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar img {
    width: 200px;
}

.Header {
    font-family: "Effra Bold";
    background-image: url("./asset/background-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.videoHeader {
    width: 500px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.HeaderVideo div iframe {
    width: 100%;
}

.TitleHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    text-align: center;
}

.TextTitle {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}



/*ABOUT PROD*/

.AboutProd {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 25%;
}

.BackgroundDoutor {
    background-image: url(./asset/doutor-rafael.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: bottom right 40px;
    background-blend-mode: overlay;
    background-attachment: local;
}

.AboutDoctor {
    position: relative;
}

.BackgroundDoutor2 {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 33%;
}

.TextAbout {
    width: 100%;
}

.TextAbout p {
    margin-top: 20px;
    line-height: 30px;
    font-size: 1rem;
}

.ImgAbout {
    position: absolute;
    width: 450px;
    left: 100vh;
    top: 100%;

}

.ImgAbout img {
    position: absolute;
    width: 80vh;
}

/*  PRICES */
.Prices {
    background-color: var(--color-blue-blackground);
    min-height: 95vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.TitleWhite {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.TitleWhite img {
    position: relative;
    z-index: 2;
}

.TitleWhite h4 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.TitleWhite h2 {
    font-size: 2rem;
}

.title-card {
    background-color: rgb(63, 63, 63);
    border-radius: 4px;
    text-align: center;
    padding: 10px;
}

.title-card {
    color: white;
}

.TitleWhite .background {
    background-image: url('./asset/mark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 400px;
}

.card {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    width: max-content;
    height: 100%;
    padding: 10px;
    background-color: whitesmoke;
    gap: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 2;
    position: relative;
}

.priceCard {
    color: rgba(128, 128, 128, 0.904);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(197, 197, 197, 0.699);
    border-radius: 8px;
    height: 50px;
    text-transform: uppercase;
}

.priceCard span {
    font-size: 28px;
}

.priceCard:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.listprices {
    color: black;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    gap: 10px;

}

.listCards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.princeText {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
}

.markPrice {
    color: green;
}


.cardSmall {
    opacity: 2;
    border: 2px solid whitesmoke;
    border-radius: 0px 10px 10px 0px;
    height: 90%;
    padding: 10px;
    background-color: whitesmoke;
    gap: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imgCard {
    position: absolute;
    width: 50px;
    left: 50.2px;
}

.textCardSmall {
    display: flex;
    flex-direction: column;
    color: var(--color-blue-dark-background);
    gap: 5px;
}

.textCardSmall span {
    font-size: 10px;
    display: flex;
    align-items: center;
}

.buttonSmalCard {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.356);
    padding: 10px;
    text-align: center;
}

/* DISCONT */
.BorderRadiusDiv {
    width: 80%;
    border: 5px solid rgba(168, 168, 168, 0.5);
    border-radius: 10px;
    display: flex;
    height: 100%;
    padding: 20px;
    gap: 20px;
}

.RadiusImg {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RadiusImg img {
    width: 100%;
}

.RadiusText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.Results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.ResultImg {
    width: 50%;
}

.ResultImg img {
    width: 100%;
}

/*RESULT */
.FooterResult {
    color: var(--color-blue-dark-background);
    width: 100%;
    padding: 0 10%;
    font-size: 0.9rem;
}

.FooterResult p {
    margin-top: 20px;
}

/* questions*/
.questions {
    background-color: var(--color-blue-blackground);
    color: white;
    padding: 40px 0px;
}

.titleButton {
    border-bottom: 1px solid white;
    display: flex;
    gap: 5px;
    align-items: center;

}

.titleButton button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border: none;
    color: red;
    font-size: 1.4rem;
    cursor: pointer;
}

.question {
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
}

.text {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    display: none;
}

.show {
    display: block;
}

.show .question-text {
    display: block;
}

/*REASONS*/
.grid2Colluns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 100px;
    justify-items: center;
    align-items: start
}

.ListReasons ul {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.ListReasons li::marker {
    color: green;
}

.ReasonsSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* FOOTER*/
.footer {
    color: rgba(138, 137, 137, 0.966);
    height: max-content;
    background-color: rgba(128, 128, 128, 0.438);
    padding: 10px 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textFooter {
    font-size: 0.8rem;
}

.sourceFooter p {
    font-size: 0.8rem;
}

.sourceFooter {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

/* FEATURES*/
.buttonPrice {
    background-color: var(--color-orange);
    border: transparent;
    border-color: white;
    color: white;
    font-size: 0.8rem;
    padding: 5px 60px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.badgeDescont {
    position: absolute;
    top: -38px;
    width: 70px;
    left: 319px;
}

.badgeDescontMobile {
    display: none;
}

.TitleBack h1 {
    width: 490px;
    opacity: 0.7;
    font-size: 2rem;
}

.TextMarkRed {
    font-weight: lighter;
    margin-top: 10px;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}


.TextMarkRed p {
    color: red;
}

.TextMarkGreen {
    margin-top: 10px;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}


.TextMarkGreen p {
    color: white;
    background: rgb(96, 153, 11);
}

.text-center {
    text-align: center;
}

.ImgMobile {
    display: none;
}

.discontSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    margin-top: 0px;
}

.ImgReasons img {
    width: 80%;
}

.subscribe {
    cursor: pointer;
    display: none;
}

.subscribe img {
    display: none;
}

.subscribe.off {
    display: none;
}

.subscribe.on {
    display: block
}

/* RESPONSIVE*/
@media (max-width:768px) {
    body {
        background-image: url("./asset/background-mobile.jpg");

    }

    .Header {
        min-height: 100vh;
    }

    .BackgroundDoutor2 {
        display: none;
    }

    .videoHeader {
        width: 70%;
    }

    .MobileAboutImg {
        display: flex;
        text-align: center;
        margin-top: 20px;
    }

    .ImgMobile {
        display: block;
    }

    .cardSmall {
        width: 400px;
        z-index: 3;
    }

    .Prices {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 40px 00px;
    }

    .TitleWhite {
        gap: 10px;
        margin: 20px 00px;
    }

    .listCards {
        margin-top: 34px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .card {
        z-index: 0;
    }

    .cardSmall {
        border-radius: 20px;
    }

    .TextHeader {
        width: 100%;
    }

    .TitleGrey {
        width: 100%;
        padding: 0px 10px;
    }

    .TitleBack h1 {
        width: 100%;
    }

    .AboutProd {
        padding: 0px 10px;
    }

    .BorderRadiusDiv {
        flex-direction: column-reverse;
        align-items: center;
    }

    .RadiusImg {
        width: 200px;
    }

    .RadiusImg img {
        width: 70%;
    }

    .FooterResult {
        padding: 0 2%;
        font-size: 0.8rem;
    }

    .question {
        padding: 20px 10px;
    }

    .grid2Colluns {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 0px 10px;
    }

    .ImgReasons {
        text-align: center;
    }

    .ImgReasons img {
        width: 60%;
    }

    .textFooter {
        font-size: 0.6rem;
    }

    .footer {
        padding: 10px 40px;
    }

    .sourceFooter {
        gap: 20px;
        flex-direction: column;
    }
}

@media (max-width:500px) {
    .cardSmall {
        width: 271px;
    }
}

@media (max-width:450px) {
    .TextHeader {
        width: 100%;
    }

    .videoHeader {
        width: 90%;
    }

    .TitleWhite {
        width: 100%;
    }



    .TitleBack h1 {
        width: 100%;
    }

    .priceCard {
        padding: 0px;
        font-size: 0.7rem;
    }

    .TitleWhite {
        padding: 0px 5px;
    }

    .TitleWhite .background {
        width: 100%;

    }

    .badgeDescont {
        display: none;
    }

    .badgeDescontMobile {
        display: block;
        position: absolute;
        top: -45px;
        width: 77px;
        left: 213px;
    }

    /*ABOUT*/
    .AboutProd {
        padding: 0px 10px;
    }

    .Results {
        grid-template-columns: 1fr;
    }

    .ResultImg {
        width: 90%;
    }
}